* {
    box-sizing: border-box;
}

// // html {
// //     font-family: var(--font-inter);
// // }

// body {
//     // font-family: $font-nunito;
//     background: rgb(15,22,40,1);
//     background: linear-gradient(127deg, rgba(77,82,96,1) 0%, rgba(20,29,51,1) 22%, rgba(15,22,40,1) 39%, rgba(5,10,22,1) 100%);
// }

.container__full-width {
	width: 100vw;
	//width:1200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}   

.container__fixed-width{
	max-width: 70rem;
	margin: 0 auto;
}

.hide{
    display: none;
}