.logo{
	display: block;
    color: whitesmoke;
    font-family: var(--font-pixel);
	font-style: normal;
    
    &__main{
        display: flex;
        justify-content:flex-start;
    }

    &__icon{
        font-size: .56em;
        color: #EEFF5F;
        text-wrap: nowrap;
        margin: 0 .15rem 0;
    }

    &__sqr1{
        border-top: .075em solid whitesmoke;
        border-left: .075em solid whitesmoke;
        border-right: .075em solid whitesmoke;
        width: 1em;
        height: 0.175em;
        
    }

    &__sqr2{
        border-left: .075em solid whitesmoke;
        line-height: .65em;
    }

    &__sqr3{
        border-bottom: .075em solid whitesmoke;
        border-left: .075em solid whitesmoke;
        border-right: .075em solid whitesmoke;
        width: 1em;
        height: 0.175em;
    }
    &__link{
        text-decoration:none;
    }

    &__name {
        
        &-pixel{
            color: #F4DCFE;
            font-size: 0.84em;
        }
        &-crafter{
            color: whitesmoke;
            font-size: 0.84em;
        }
    }
}