.nav{
    &__menu{
        display: flex;
        justify-content: space-between;
        &--hide{
            @include mobile{
                display: none;
    
            }
        }
    }

    &__item{
        margin: 0 1rem 0 0;
        color: $color-white;
        
    }

    &__link{
        text-decoration: none;
        color: $color-white;
    }

}