//$color-grey: #8E9696; //fonts
//$color-black: #213131; //fonts
//$color-white: #FFFFFF; //fonts 
//$color-white-secondary: #EDEDED; //fonts
//$color-grey: #BDC5E2; //fonts
//$color-background: #E5E5E5; //background color
//$color-light-green: #B0FC63; //decoration lines
//$color-black-secondary: #4B4B4B;
//$color-black-tertiary: #000000; // page subtitle colorBDC5E2

$color-pastel-lime: #B0FC63;
$color-forest-green: #1E855F;
$color-orange: #FF611E;
$color-light-orange: #F97C02;
$color-aqua-blue: #62F9EE;
$color-pastel-purple: #F290FF;
$color-black: #0D221B; //fonts, background
$color-grey: #747474; //background
$color-cream: #F9F1DA; //background
$color-white: #EDEDED;