$color-pastel-lime: #B0FC63;
$color-forest-green: #1E855F;
$color-orange: #FF611E;
$color-light-orange: #F97C02;
$color-aqua-blue: #62F9EE;
$color-pastel-purple: #F290FF;
$color-black: #0D221B; //fonts, background
$color-grey: #747474; //background
$color-cream: #F9F1DA; //background
$color-white: #EDEDED;
//another colors
$color_: #CDF13B;
$color_2: #83AAE6;
$color_3:#FF9DDD;
$color_4:#D39CE7;
$color_5:#00FDF0;
$color_6:#FF7300;
$color_7:#FBF1D8; //background
$color_8:#FF9DDD; //background
$color_9:#89AAF5; //background
$color_10:#FF6D2F; //background