$color-pastel-lime: #B0FC63;
$color-forest-green: #1E855F;
$color-orange: #FF611E;
$color-light-orange: #F97C02;
$color-aqua-blue: #62F9EE;
$color-pastel-purple: #F290FF;
$color-black: #0D221B; //fonts, background
$color-grey: #747474; //background
$color-cream: #F9F1DA; //background
$color-white: #EDEDED;